<!-- Primary Meta Tags -->
<title>What is Edispo?</title>
<meta name="title" content="What is Edispo?">
<meta name="description" content="Edispo is an online marketplace targeted towards the reselling of 
      used corporate and individual electronics such as computers, cellphones, laptops, 
      TVs, and the like.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://edispo.ph/">
<meta property="og:title" content="What is Edispo?">
<meta property="og:description" content="Edispo is an online marketplace targeted towards the reselling of 
      used corporate and individual electronics such as computers, cellphones, laptops, 
      TVs, and the like.">
<meta property="og:image" content="/assets/images/logo-white-on-gradient-banner.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://edispo.ph/">
<meta property="twitter:title" content="What is Edispo?">
<meta property="twitter:description" content="Edispo is an online marketplace targeted towards the reselling of 
      used corporate and individual electronics such as computers, cellphones, laptops, 
      TVs, and the like.">
<meta property="twitter:image" content="/assets/images/logo-white-on-gradient-banner.png">