---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{site.baseurl}}/assets/images/logo.svg" type="image/gif" sizes="16x16">
  <title>{{page.title}} | Edispo</title>
  {% include _css.html %}
  {% include _javascript.html %}
  {% include _meta.html %}
</head>

<body class="theme1 sulong-regular-2">


  <!-- <div id="fb-root"></div>
  <div id="fb-customer-chat" class="fb-customerchat">
  </div>
  
  <script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "102827112196217");
    chatbox.setAttribute("attribution", "biz_inbox");
  
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '915804896017856',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v3.3'
      });
    };
  
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script> -->
  
  {% include _header.html %}
  {{content}}
  {% include _footer.html %}
</body>



</html>