---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
  <link rel="icon" href="{{site.baseurl}}/favicon.ico" type="image/gif" sizes="16x16">
  <script src="{{site.baseurl}}/assets/js/main.js"></script>
  <title>{{page.title}} | Edispo</title>
  <meta name="description" content="Edispo is an online marketplace targeted towards the reselling of 
      used corporate and individual electronics such as computers, cellphones, laptops, 
      TVs, and the like.">
  <meta property="og:image" content="{{site.baseurl}}/assets/images/logo.png">
</head>

<body class="theme1 sulong-regular-2">
  {{content}}
</body>

</html>